<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">Свойство</h2>
    </div>
    <div class="modal-body">

        <div class="form-group row">
            <label class="col-xs-3 control-label">
                <span class="text-required">
                    Название
                </span>
            </label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="ctrl.name" required validation-input-text="Название" autofocus />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">
                Название в клиентской части
            </label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="ctrl.nameDisplayed" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">Описание</label>
            <div class="col-xs-9">
                <textarea class="form-control" ng-model="ctrl.description" rows="2"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">Единицы измерения</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="ctrl.unit" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">Тип</label>
            <div class="col-xs-9">
                <select class="form-control" ng-model="ctrl.type" ng-options="s.Text for s in ctrl.types track by s.Value" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">Группа</label>
            <div class="col-xs-9">
                <select class="form-control" ng-model="ctrl.group" ng-options="s.Text for s in ctrl.groups track by s.Value">
                    <option>Не выбрана</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">Использовать в фильтре</label>
            <div class="col-xs-9">
                <label class="adv-checkbox-label">
                    <input type="checkbox" ng-model="ctrl.useInFilter" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">Использовать в карточке товара</label>
            <div class="col-xs-9">
                <label class="adv-checkbox-label">
                    <input type="checkbox" ng-model="ctrl.useInDetails" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">Использовать в брифе</label>
            <div class="col-xs-9">
                <label class="adv-checkbox-label">
                    <input type="checkbox" ng-model="ctrl.useInBrief" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">Развернут</label>
            <div class="col-xs-9">
                <label class="adv-checkbox-label">
                    <input type="checkbox" ng-model="ctrl.expanded" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-3 control-label">Порядок сортировки</label>
            <div class="col-xs-9">
                <input type="text" ng-model="ctrl.sortOrder" class="form-control" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.saveProperty()" data-button-validation>Сохранить</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">Отмена</button>
    </div>
</form>