@charset "UTF-8";
/*>480 - смартфоны*/
/*>768 - планшеты*/
/*>992 - нетбуки, ноутбуки*/
/*>1200 - десктоп*/
.col-xs-slim {
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

@media (min-width: 48em) {
  .col-sm-slim {
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; } }

@media (min-width: 62em) {
  .col-md-slim {
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; } }

@media (min-width: 75em) {
  .col-lg-slim {
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; } }
