@charset "UTF-8";
[class^="icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:before,
[class*=" icon-"]:after {
  font-family: "advlp";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  line-height: 1;
  text-align: center;
  opacity: 1;
  font-variant: normal;
  text-transform: none;
  /*line-height: 1em;*/ }

.icon-animate-spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block; }

.icon-animate-spin-after:after, .icon-animate-spin-before:before {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
  text-shadow: none; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.icon-email-before:before,
.icon-email-after:after,
.icon-email-before-abs:before,
.icon-email-after-abs:after,
.icon-email-before-abs-offset:before,
.icon-email-after-abs-offset:after {
  content: ""; }

.icon-trash-empty-before:before,
.icon-trash-empty-after:after,
.icon-trash-empty-before-abs:before,
.icon-trash-empty-after-abs:after,
.icon-trash-empty-before-abs-offset:before,
.icon-trash-empty-after-abs-offset:after {
  content: ""; }

.icon-cog-before:before,
.icon-cog-after:after,
.icon-cog-before-abs:before,
.icon-cog-after-abs:after,
.icon-cog-before-abs-offset:before,
.icon-cog-after-abs-offset:after {
  content: ""; }

.icon-trash-before:before,
.icon-trash-after:after,
.icon-trash-before-abs:before,
.icon-trash-after-abs:after,
.icon-trash-before-abs-offset:before,
.icon-trash-after-abs-offset:after {
  content: ""; }

.icon-eye-off-before:before,
.icon-eye-off-after:after,
.icon-eye-off-before-abs:before,
.icon-eye-off-after-abs:after,
.icon-eye-off-before-abs-offset:before,
.icon-eye-off-after-abs-offset:after {
  content: ""; }

.icon-phone-before:before,
.icon-phone-after:after,
.icon-phone-before-abs:before,
.icon-phone-after-abs:after,
.icon-phone-before-abs-offset:before,
.icon-phone-after-abs-offset:after {
  content: ""; }

.icon-down-before:before,
.icon-down-after:after,
.icon-down-before-abs:before,
.icon-down-after-abs:after,
.icon-down-before-abs-offset:before,
.icon-down-after-abs-offset:after {
  content: ""; }

.icon-cancel-before:before,
.icon-cancel-after:after,
.icon-cancel-before-abs:before,
.icon-cancel-after-abs:after,
.icon-cancel-before-abs-offset:before,
.icon-cancel-after-abs-offset:after {
  content: ""; }

.icon-left-before:before,
.icon-left-after:after,
.icon-left-before-abs:before,
.icon-left-after-abs:after,
.icon-left-before-abs-offset:before,
.icon-left-after-abs-offset:after {
  content: ""; }

.icon-up-open-before:before,
.icon-up-open-after:after,
.icon-up-open-before-abs:before,
.icon-up-open-after-abs:after,
.icon-up-open-before-abs-offset:before,
.icon-up-open-after-abs-offset:after {
  content: ""; }

.icon-right-open-before:before,
.icon-right-open-after:after,
.icon-right-open-before-abs:before,
.icon-right-open-after-abs:after,
.icon-right-open-before-abs-offset:before,
.icon-right-open-after-abs-offset:after {
  content: ""; }

.icon-up-before:before,
.icon-up-after:after,
.icon-up-before-abs:before,
.icon-up-after-abs:after,
.icon-up-before-abs-offset:before,
.icon-up-after-abs-offset:after {
  content: ""; }

.icon-ok-before:before,
.icon-ok-after:after,
.icon-ok-before-abs:before,
.icon-ok-after-abs:after,
.icon-ok-before-abs-offset:before,
.icon-ok-after-abs-offset:after {
  content: ""; }

.icon-pencil-before:before,
.icon-pencil-after:after,
.icon-pencil-before-abs:before,
.icon-pencil-after-abs:after,
.icon-pencil-before-abs-offset:before,
.icon-pencil-after-abs-offset:after {
  content: ""; }

.icon-down-open-before:before,
.icon-down-open-after:after,
.icon-down-open-before-abs:before,
.icon-down-open-after-abs:after,
.icon-down-open-before-abs-offset:before,
.icon-down-open-after-abs-offset:after {
  content: ""; }

.icon-plus-circled-before:before,
.icon-plus-circled-after:after,
.icon-plus-circled-before-abs:before,
.icon-plus-circled-after-abs:after,
.icon-plus-circled-before-abs-offset:before,
.icon-plus-circled-after-abs-offset:after {
  content: ""; }

.icon-plus-before:before,
.icon-plus-after:after,
.icon-plus-before-abs:before,
.icon-plus-after-abs:after,
.icon-plus-before-abs-offset:before,
.icon-plus-after-abs-offset:after {
  content: ""; }

.icon-arrows-ccw-before:before,
.icon-arrows-ccw-after:after,
.icon-arrows-ccw-before-abs:before,
.icon-arrows-ccw-after-abs:after,
.icon-arrows-ccw-before-abs-offset:before,
.icon-arrows-ccw-after-abs-offset:after {
  content: ""; }

.icon-eye-before:before,
.icon-eye-after:after,
.icon-eye-before-abs:before,
.icon-eye-after-abs:after,
.icon-eye-before-abs-offset:before,
.icon-eye-after-abs-offset:after {
  content: ""; }

.icon-email-before:before, .icon-email-before-abs:before, .icon-email-before-abs-offset:before, .icon-trash-empty-before:before, .icon-trash-empty-before-abs:before, .icon-trash-empty-before-abs-offset:before, .icon-cog-before:before, .icon-cog-before-abs:before, .icon-cog-before-abs-offset:before, .icon-trash-before:before, .icon-trash-before-abs:before, .icon-trash-before-abs-offset:before, .icon-eye-off-before:before, .icon-eye-off-before-abs:before, .icon-eye-off-before-abs-offset:before, .icon-phone-before:before, .icon-phone-before-abs:before, .icon-phone-before-abs-offset:before, .icon-down-before:before, .icon-down-before-abs:before, .icon-down-before-abs-offset:before, .icon-cancel-before:before, .icon-cancel-before-abs:before, .icon-cancel-before-abs-offset:before, .icon-left-before:before, .icon-left-before-abs:before, .icon-left-before-abs-offset:before, .icon-up-open-before:before, .icon-up-open-before-abs:before, .icon-up-open-before-abs-offset:before, .icon-right-open-before:before, .icon-right-open-before-abs:before, .icon-right-open-before-abs-offset:before, .icon-up-before:before, .icon-up-before-abs:before, .icon-up-before-abs-offset:before, .icon-ok-before:before, .icon-ok-before-abs:before, .icon-ok-before-abs-offset:before, .icon-pencil-before:before, .icon-pencil-before-abs:before, .icon-pencil-before-abs-offset:before, .icon-down-open-before:before, .icon-down-open-before-abs:before, .icon-down-open-before-abs-offset:before, .icon-plus-circled-before:before, .icon-plus-circled-before-abs:before, .icon-plus-circled-before-abs-offset:before, .icon-plus-before:before, .icon-plus-before-abs:before, .icon-plus-before-abs-offset:before, .icon-arrows-ccw-before:before, .icon-arrows-ccw-before-abs:before, .icon-arrows-ccw-before-abs-offset:before, .icon-eye-before:before, .icon-eye-before-abs:before, .icon-eye-before-abs-offset:before {
  margin-right: 0.2em; }

.icon-email-after:after, .icon-email-after-abs:after, .icon-email-after-abs-offset:after, .icon-trash-empty-after:after, .icon-trash-empty-after-abs:after, .icon-trash-empty-after-abs-offset:after, .icon-cog-after:after, .icon-cog-after-abs:after, .icon-cog-after-abs-offset:after, .icon-trash-after:after, .icon-trash-after-abs:after, .icon-trash-after-abs-offset:after, .icon-eye-off-after:after, .icon-eye-off-after-abs:after, .icon-eye-off-after-abs-offset:after, .icon-phone-after:after, .icon-phone-after-abs:after, .icon-phone-after-abs-offset:after, .icon-down-after:after, .icon-down-after-abs:after, .icon-down-after-abs-offset:after, .icon-cancel-after:after, .icon-cancel-after-abs:after, .icon-cancel-after-abs-offset:after, .icon-left-after:after, .icon-left-after-abs:after, .icon-left-after-abs-offset:after, .icon-up-open-after:after, .icon-up-open-after-abs:after, .icon-up-open-after-abs-offset:after, .icon-right-open-after:after, .icon-right-open-after-abs:after, .icon-right-open-after-abs-offset:after, .icon-up-after:after, .icon-up-after-abs:after, .icon-up-after-abs-offset:after, .icon-ok-after:after, .icon-ok-after-abs:after, .icon-ok-after-abs-offset:after, .icon-pencil-after:after, .icon-pencil-after-abs:after, .icon-pencil-after-abs-offset:after, .icon-down-open-after:after, .icon-down-open-after-abs:after, .icon-down-open-after-abs-offset:after, .icon-plus-circled-after:after, .icon-plus-circled-after-abs:after, .icon-plus-circled-after-abs-offset:after, .icon-plus-after:after, .icon-plus-after-abs:after, .icon-plus-after-abs-offset:after, .icon-arrows-ccw-after:after, .icon-arrows-ccw-after-abs:after, .icon-arrows-ccw-after-abs-offset:after, .icon-eye-after:after, .icon-eye-after-abs:after, .icon-eye-after-abs-offset:after {
  margin-left: 0.2em; }

.icon-email-before-abs:before, .icon-email-after-abs:after, .icon-email-before-abs-offset:before, .icon-email-after-abs-offset:after, .icon-trash-empty-before-abs:before, .icon-trash-empty-after-abs:after, .icon-trash-empty-before-abs-offset:before, .icon-trash-empty-after-abs-offset:after, .icon-cog-before-abs:before, .icon-cog-after-abs:after, .icon-cog-before-abs-offset:before, .icon-cog-after-abs-offset:after, .icon-trash-before-abs:before, .icon-trash-after-abs:after, .icon-trash-before-abs-offset:before, .icon-trash-after-abs-offset:after, .icon-eye-off-before-abs:before, .icon-eye-off-after-abs:after, .icon-eye-off-before-abs-offset:before, .icon-eye-off-after-abs-offset:after, .icon-phone-before-abs:before, .icon-phone-after-abs:after, .icon-phone-before-abs-offset:before, .icon-phone-after-abs-offset:after, .icon-down-before-abs:before, .icon-down-after-abs:after, .icon-down-before-abs-offset:before, .icon-down-after-abs-offset:after, .icon-cancel-before-abs:before, .icon-cancel-after-abs:after, .icon-cancel-before-abs-offset:before, .icon-cancel-after-abs-offset:after, .icon-left-before-abs:before, .icon-left-after-abs:after, .icon-left-before-abs-offset:before, .icon-left-after-abs-offset:after, .icon-up-open-before-abs:before, .icon-up-open-after-abs:after, .icon-up-open-before-abs-offset:before, .icon-up-open-after-abs-offset:after, .icon-right-open-before-abs:before, .icon-right-open-after-abs:after, .icon-right-open-before-abs-offset:before, .icon-right-open-after-abs-offset:after, .icon-up-before-abs:before, .icon-up-after-abs:after, .icon-up-before-abs-offset:before, .icon-up-after-abs-offset:after, .icon-ok-before-abs:before, .icon-ok-after-abs:after, .icon-ok-before-abs-offset:before, .icon-ok-after-abs-offset:after, .icon-pencil-before-abs:before, .icon-pencil-after-abs:after, .icon-pencil-before-abs-offset:before, .icon-pencil-after-abs-offset:after, .icon-down-open-before-abs:before, .icon-down-open-after-abs:after, .icon-down-open-before-abs-offset:before, .icon-down-open-after-abs-offset:after, .icon-plus-circled-before-abs:before, .icon-plus-circled-after-abs:after, .icon-plus-circled-before-abs-offset:before, .icon-plus-circled-after-abs-offset:after, .icon-plus-before-abs:before, .icon-plus-after-abs:after, .icon-plus-before-abs-offset:before, .icon-plus-after-abs-offset:after, .icon-arrows-ccw-before-abs:before, .icon-arrows-ccw-after-abs:after, .icon-arrows-ccw-before-abs-offset:before, .icon-arrows-ccw-after-abs-offset:after, .icon-eye-before-abs:before, .icon-eye-after-abs:after, .icon-eye-before-abs-offset:before, .icon-eye-after-abs-offset:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.icon-email-before-abs:before, .icon-trash-empty-before-abs:before, .icon-cog-before-abs:before, .icon-trash-before-abs:before, .icon-eye-off-before-abs:before, .icon-phone-before-abs:before, .icon-down-before-abs:before, .icon-cancel-before-abs:before, .icon-left-before-abs:before, .icon-up-open-before-abs:before, .icon-right-open-before-abs:before, .icon-up-before-abs:before, .icon-ok-before-abs:before, .icon-pencil-before-abs:before, .icon-down-open-before-abs:before, .icon-plus-circled-before-abs:before, .icon-plus-before-abs:before, .icon-arrows-ccw-before-abs:before, .icon-eye-before-abs:before {
  left: 0; }

.icon-email-after-abs:after, .icon-trash-empty-after-abs:after, .icon-cog-after-abs:after, .icon-trash-after-abs:after, .icon-eye-off-after-abs:after, .icon-phone-after-abs:after, .icon-down-after-abs:after, .icon-cancel-after-abs:after, .icon-left-after-abs:after, .icon-up-open-after-abs:after, .icon-right-open-after-abs:after, .icon-up-after-abs:after, .icon-ok-after-abs:after, .icon-pencil-after-abs:after, .icon-down-open-after-abs:after, .icon-plus-circled-after-abs:after, .icon-plus-after-abs:after, .icon-arrows-ccw-after-abs:after, .icon-eye-after-abs:after {
  right: 0; }

.icon-email-before-abs-offset:before, .icon-trash-empty-before-abs-offset:before, .icon-cog-before-abs-offset:before, .icon-trash-before-abs-offset:before, .icon-eye-off-before-abs-offset:before, .icon-phone-before-abs-offset:before, .icon-down-before-abs-offset:before, .icon-cancel-before-abs-offset:before, .icon-left-before-abs-offset:before, .icon-up-open-before-abs-offset:before, .icon-right-open-before-abs-offset:before, .icon-up-before-abs-offset:before, .icon-ok-before-abs-offset:before, .icon-pencil-before-abs-offset:before, .icon-down-open-before-abs-offset:before, .icon-plus-circled-before-abs-offset:before, .icon-plus-before-abs-offset:before, .icon-arrows-ccw-before-abs-offset:before, .icon-eye-before-abs-offset:before {
  right: 100%; }

.icon-email-after-abs-offset:after, .icon-trash-empty-after-abs-offset:after, .icon-cog-after-abs-offset:after, .icon-trash-after-abs-offset:after, .icon-eye-off-after-abs-offset:after, .icon-phone-after-abs-offset:after, .icon-down-after-abs-offset:after, .icon-cancel-after-abs-offset:after, .icon-left-after-abs-offset:after, .icon-up-open-after-abs-offset:after, .icon-right-open-after-abs-offset:after, .icon-up-after-abs-offset:after, .icon-ok-after-abs-offset:after, .icon-pencil-after-abs-offset:after, .icon-down-open-after-abs-offset:after, .icon-plus-circled-after-abs-offset:after, .icon-plus-after-abs-offset:after, .icon-arrows-ccw-after-abs-offset:after, .icon-eye-after-abs-offset:after {
  left: 100%; }

.icon-no-margin:after, .icon-no-margin:before {
  margin: 0; }
