<section id="intro" class="hero">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 wow fadeInUp featured-img featured-inner" data-wow-delay="0.4s">
				<h1 class="f-white">Дополнительные бонусы за личные достижения</h1>
				<div id="main-carousel" class="owl-carousel owl-theme quote-theme" style="opacity: 0; display: block;">
					<div class="item">
						<div class="row">
							<div class="introducing text-center col-sm-12">
								<h2 class="hr-after ">За рулём мечты - Персональный автомобиль Mercedes-Benz</h2>
							</div>
							<div class="col-sm-12">
								<div class="video-container">
									<iframe data-loader="youtube" data-src="58OZ3e5kCfo" style="display: none;" frameborder="0"></iframe>
								</div>
							</div>
						</div>
						<!-- /.inner row -->
					</div>
					<div class="item">
						<div class="row">
							<div class="introducing text-center col-sm-12">
								<h2 class="hr-after">Трэвел бонус - Отдых за счет компании</h2>
							</div>
							<div class="col-sm-12">
								<div class="video-container">
									<iframe data-loader="youtube" data-src="rFAyO6qGw8E" style="display: none;" frameborder="0"></iframe>
								</div>
							</div>
						</div>
						<!-- /.inner row -->
					</div>
				</div>
				<!-- /.carousel -->
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>