<section id="features-list" class="space bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-10">
				<h1 class="hr-after f-white">
					<strong>Преимущества бизнеса с компанией <span class="f-green">GREENWAY</span></strong>
				</h1>
			</div>
		</div>
		<div class="divide50"></div>
		<div class="row features">
			<div class="col-sm-4 icon-item">
				<i class="glyphicon glyphicon-leaf"></i>
				<div class="item-content">
					<h3 class="f-white">«Вирусная» <br>продукция</h3>
					<p>Информация о продукции GREENWAY не требует агрессивной рекламы и распространяется пользователями продукции естественно, подтверждая уникальность.</p>
				</div>
				<!--/.icon item content -->
			</div>
			<div class="col-sm-4 icon-item">
				<i class="glyphicon glyphicon-usd"></i>
				<div class="item-content">
					<h3 class="f-white">Минимальные <br>вложения</h3>
					<p>Для подтверждения регистрации достаточно купить (а лучше продать) товаров на сумму 4000 руб.</p>
				</div>
				<!--/.icon item content -->
			</div>
			<div class="col-sm-4 icon-item">
				<i class="glyphicon glyphicon-signal"></i>
				<div class="item-content">
					<h3 class="f-white">Рост <br>дохода</h3>
					<p>Нет ограничения для роста дохода партнера.</p>
				</div>
				<!--/.icon item content -->
			</div>
		</div>
		<!-- .row -->
		<div class="divide30"></div>
		<div class="row features">
			<div class="col-sm-4 icon-item">
				<i class="glyphicon glyphicon-sort-by-attributes"></i>
				<div class="item-content">
					<h3 class="f-white">Выгодная <br>структура</h3>
					<p>Подключения на поздних этапах развития сети так же выгодно, и позволяет добиваться лучших результатов.</p>
				</div>
				<!--/.icon item content -->
			</div>
			<div class="col-sm-4 icon-item">
				<i class="glyphicon glyphicon-gift"></i>
				<div class="item-content">
					<h3 class="f-white">Выверенный <br>маркетинг-план</h3>
					<p>Маркетинг-план выстроен таким образом, что на каждом этапе роста сети, партнер получает значимый доход.</p>
				</div>
				<!--/.icon item content -->
			</div>
			<div class="col-sm-4 icon-item">
				<i class="bg-red glyphicon glyphicon-send" aria-hidden="true"></i>
				<div class="item-content">
					<h3 class="f-white">Быстрый <br>старт</h3>
					<p>Опция «Быстрый старт» позволяет в течении короткого времени получить достойный доход и заложить основу успешного бизнеса.</p>
				</div>
				<!--/.icon item content -->
			</div>
		</div>
		<!-- .row -->
	</div>
</section>