<section id="steps" class="single-feature space">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<!--<h6>SINGLE FEATURE SECTION</h6>-->
				<h1 class="hr-after">
					<strong>Активация</strong> партнерского соглашения
					состоит из 4 простых шагов
				</h1>

				<!--<p class="lead">Персональная ссылка-приглашение будет активна только <span class="f-green">24 часа</span>.</p>
				<p>Компания Greenway гарантирует конфеденциальность Ваших персональных данных</p>-->

			</div>
			<!-- /.col 6 -->
			<div class="col-sm-6 single-feature-image">
				@*<img src="images/app-2.png" alt="" class="img-responsive">*@
			</div>
		</div>
		<div class="row features">
			<div class="col-sm-3 icon-item" ng-click="gotoAnchor('contact')">
				<i class="glyphicon glyphicon-edit"></i>
				<div class="item-content">
					<h3>Запрос на регистрацию</h3>
					<p>Отправляете запрос на регистрацию в форме ниже.</p>
					@*<a href="business#contact" class="btn btn-default btn-radius btn-lg">Подробнее</a>*@
				</div>
				<!--/.icon item content -->
			</div>
			<div class="col-sm-3 icon-item" ng-click="gotoAnchor('contact')">
				<i class="glyphicon glyphicon-link"></i>
				<div class="item-content">
					<h3>Инвайт-ссылка</h3>
					<p>Получаете персональную ссылку-приглашение.</p>
					@*<a href="business#contact" class="btn btn-default btn-radius btn-lg">Подробнее</a>*@
				</div>
				<!--/.icon item content -->
			</div>
			<div class="col-sm-3 icon-item" ng-click="gotoAnchor('contact')">
				<i class="glyphicon glyphicon-list-alt"></i>
				<div class="item-content">
					<h3>Заполнение анкеты</h3>
					<p>Заполняете анкету на официальном сайте компании.</p>
					@*<a href="business#contact" class="btn btn-default btn-radius btn-lg">Подробнее</a>*@
				</div>
				<!--/.icon item content -->
			</div>
			<div class="col-sm-3 icon-item" ng-click="gotoAnchor('contact')">
				<i class="glyphicon glyphicon-phone"></i>
				<div class="item-content">
					<h3>SMS для авторизации</h3>
					<p>Получаете пароль для активации аккаунта и авторизации партнера.</p>
					@*<a href="business#contact" class="btn btn-default btn-radius btn-lg">Подробнее</a>*@
				</div>
				<!--/.icon item content -->
			</div>
		</div>
		<div class="col-sm-6">
			<p class="lead">Персональная ссылка-приглашение будет активна только <span class="f-green">24 часа</span>.</p>
			<p>Компания Greenway гарантирует конфеденциальность Ваших личных данных</p>
		</div>
		<!-- /.col 6 -->
	</div>
</section>