@model AdvantShop.Areas.Mobile.Models.Home.LogoMobileModel
<div class="logo-cell">
    <a href="@UrlService.GetUrl()">
        <img class="logo" src="@Model.ImgSource" alt="@Model.LogoAlt" />
    </a>
</div>