@using AdvantShop.Core.UrlRewriter
@{
    var url = UrlService.GetUrl();
    var scripts = new List<string>()
    {
        url + "modules/BannerMania/content/Scripts/bannerMania/bannerInTop.js",
        url + "modules/BannerMania/content/styles/admin-style.css"
    };
}

<div data-oc-lazy-load="[@(String.Join(", ", scripts.Select(x => "'" + x  + "'")))]">
    <banner-in-top></banner-in-top>
</div>