.zone-dialog {
  width: 41.875rem; }

.zone-dialog .modal-content {
  padding: 0; }

.zone-dialog-items {
  display: table;
  width: 100%;
  table-layout: fixed; }

.zone-dialog-item {
  display: table-cell;
  vertical-align: top;
  padding-right: 0.625rem; }

.zone-dialog-item-link {
  display: block;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  border: 1px solid transparent; }
  .zone-dialog-item-link:hover {
    border-color: #dedddd; }

.zone-dialog-text {
  font-size: 1rem;
  padding-right: 0.625rem; }

.zone-dialog-countries,
.zone-dialog-autocomplete-block,
.zone-dialog-cities {
  padding: 0.625rem;
  padding-bottom: 0; }

.zone-dialog-autocomplete-block {
  margin-bottom: 0.9375rem; }

.zone-dialog-cities {
  border-top: 1px solid #e2e3e4; }

.zone-dialog-input-wrap {
  position: relative; }

.zone-dialog-country-link {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.875rem;
  padding: 0.625rem;
  border: 0.0625rem transparent solid;
  border-radius: 0.3125rem; }

.zone-dialog-country-image {
  vertical-align: middle;
  line-height: 1; }

.zone-dialog-country-selected {
  border-color: #ccc; }
