.lp-area{
    margin-bottom: 40px;
}
.lp-arear-expressive{
    background: linear-gradient(to right, #f85f23 0%, #fc8916 50% ,#f85f23 100%);
}
.lp-area-inner{
    margin-top: 27px;
    margin-bottom: 27px;
}