<form>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">Новый пароль</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">Пароль</span>
                    </label>
                    <div class="col-xs-9">
                        <input type="password" data-ng-model="ctrl.password" class="form-control" required="required" validation-input-text="Пароль" autofocus autocomplete="off" />
                        <div class="m-t-sm">Не менее 6 символов</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">Пароль еще раз</span>
                    </label>
                    <div class="col-xs-9">
                        <input type="password" data-ng-model="ctrl.password2" class="form-control" required="required" validation-input-text="Пароль еще раз" autocomplete="off" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.change()" data-button-validation>Изменить</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">Отмена</button>
    </div>
</form>