@model AdvantShop.Web.Admin.Models.Settings.BonusSettingsModel
<div class="form-group row m-b-lg">
    <div class="col-xs-3">
        Логин для смс системы
    </div>
    <div class="col-xs-4">
        @Html.TextBoxFor(x => x.Sms4BLogin, new { @class = "form-control", ng_model = "settingBonus.Sms4BLogin", textcomplete = "" })
    </div>
</div>
<div class="form-group row m-b-lg">
    <div class="col-xs-3">
        Пароль для смс системы
    </div>
    <div class="col-xs-4">
        @Html.TextBoxFor(x => x.Sms4BPassword, new { @class = "form-control", ng_model = "settingBonus.Sms4BPassword", textcomplete = "" })
    </div>
</div>