<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSSMSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WSSMSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WSSMSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://sms4b.ru/ws/sms.asmx" binding="basicHttpBinding" bindingConfiguration="WSSMSoap" contract="sms4b.WSSMSoap" name="WSSMSoap" />
      <endpoint address="https://sms4b.ru/ws/sms.asmx" binding="customBinding" bindingConfiguration="WSSMSoap12" contract="sms4b.WSSMSoap" name="WSSMSoap12" />
    </client>
  </system.serviceModel>
</configuration>