@import "../../../../styles/_settings.scss", "../../../../styles/functions/_util.scss";

.voting-question {
    font-size: $font-size-xmedium;
    padding-bottom: rem-calc(15px);
    margin-bottom: $margin-value-base;
    border-bottom: $border-width #dbdcde solid;
}

.voting-answers, .voting-results {
    padding: 0;
    margin: 0;
    list-style: none;
}

.voting-answers-row, .voting-results-row {
    margin-bottom: rem-calc(20px);
}

.voting-results-progress {
    white-space: nowrap;
}

.voting-results-progressbar-wrap, .voting-results-value {
    display: inline-block;
    vertical-align: middle;
}

.voting-results-progressbar-wrap {
    width: 80%;
}

.voting-results-value {
    width: 20%;
    text-align: right;
}

.voting-results-progressbar {
    height: rem-calc(15px);
}

.voting-results-total-text {
    font-weight: bold;
}
