.module-buy-more-need, .module-buy-more-current {
    font-size: 105%;
    font-weight: bold;
    display: inline-block;
}

.module-buy-more-select {
    font-size: 115%;
    font-weight: bold;
    color: #aa1c1c;
}
