<div class="js-iframe-wrap">
    <iframe src="@SettingsLic.BasePlatformUrl/shop/Academy.aspx?lic=@SettingsLic.LicKey&id=@CustomerContext.CustomerId&ExecutionTime=@ViewBag.ExecutionTime&Hash=@ViewBag.Hash&lessonId=@ViewBag.LessonId" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" frameborder="0" width="100" height="100" style="height: 637px; width: 100%;" scrolling="no" name="academy">
        Ваш браузер не поддерживает плавающие фреймы!
    </iframe>
</div>

