
<div class="js-iframe-wrap">
    <iframe src="@SettingsLic.BasePlatformUrl/shop/ShopDomain.aspx?lic=@SettingsLic.LicKey&ExecutionTime=@ViewBag.ExecutionTime&Hash=@ViewBag.Hash" frameborder="0" width="100" scrolling="no" height="100" style="height:calc(100vh - 195px); width: 100%;" name="shopDomain">
        Ваш браузер не поддерживает плавающие фреймы!
    </iframe>
</div>

