<div class="js-iframe-wrap">
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox">
                <div class="ibox-content text-center">
                    <h2>
                        В разработке
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

