 <ng-form name="shippingbyproductamount">  
    <div>
        <div class="m-b-md">
            <span class="inline">
                От: <input type="text" ng-model="$ctrl.amount" validation-input-float class="form-control inline" style="width: 110px;" /> шт
            </span>
            <span class="inline m-l-sm">
                Стоимость доставки: <input type="text" validation-input-float ng-model="$ctrl.price" class="form-control inline" style="width: 110px" />
            </span>
            <span class="inline m-l-sm">
                <button type="button" class="btn btn-action" ng-disabled="$ctrl.amount == null || $ctrl.price == null" ng-click="$ctrl.addRange()">Добавить</button>
            </span>
        </div>

        <div class="m-b-md">
        
            <div class="m-b-xs" ng-repeat="item in $ctrl.ranges track by $index">

                От: {{item.amount | number}} шт - Стоимость доставки: {{item.price | number}} {{$ctrl.currencyLabel}} 
                <a href="" ng-click="$ctrl.deleteRange($index)" class="link-invert link-decoration-none fa fa-remove"></a>
            </div>

        </div>

        <input type="hidden" name="priceRanges" value="{{$ctrl.priceRanges}}"/>
        <input type="text" ng-model="$ctrl.update" class="hidden" />

    </div>
</ng-form>