@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.Interkassa2PaymentModel



<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Идентификатор магазина в системе Интеркасса 2.0</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.ShopId, new { ng_model = "paymentMethod.Parameters.ShopId", @class = "form-control", required = "required", validation_input_text = "Идентификатор магазина в системе Интеркасса 2.0" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Идентификатор магазина в системе Интеркасса 2.0">
            Идентификатор магазина зарегистрированного в системе «Интеркасса» 2.0. Узнать его можно в разделе «Мои кассы».
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        Проверять подпись в форме запроса платежа
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.IsCheckSign, new {ng_model = "paymentMethod.Parameters.IsCheckSign", ng_init = "paymentMethod.Parameters.IsCheckSign=" + Model.IsCheckSign.ToLowerString(), @class = "adv-checkbox-input"})
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Проверять подпись в форме запроса платежа">
            Настройки кассы -> Безопасность.
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Секретный ключ</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.SecretKey, new { ng_model = "paymentMethod.Parameters.SecretKey", @class = "form-control", required = "required", validation_input_text = "Секретный ключ" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Секретный ключ">
            Настройки кассы -> Безопасность. Будет использоваться если активна опция «Проверять подпись в форме запроса платежа»
        </help-trigger>
    </div>
</div>



