<div id="content">
    <a href="@Url.RouteUrl("CatalogRoot")" class="panel no-borders back-link cs-bg-3 cs-l-1">
        @T("Mobile.Cart.BackToCatalog")
        <div class="panel-arrow ar-l icon-left-open-before cs-l-1"></div>
    </a>
    <div data-cart-mobile-full></div>
    @Html.StaticBlock("shoppingcart")
</div>