
<div class="sticky-page-name" sticky sticky-top="0">
    <div class="page-name-block sticky-page-name-inner">
        <div class="page-name-block-item-main">
            <h1 class="page-name-block-text sticky-page-name-text">
                @T("Admin.News.Index.Title")
            </h1>
        </div>
        <div class="page-name-block-item-additional">
            <a href="@Url.Action("Add", "News")">
                <button class="btn btn-sm btn-success btn--margin-left" type="button">
                    <span class="fa fa-plus"></span> @T("Admin.News.Index.AddNews")
                </button>
            </a>
        </div>
    </div>
</div>
<div class="ibox">
    <div class="ibox-content">
        <ui-grid-custom grid-unique-id="grid"
                        grid-row-identificator="'NewsId'"
                        grid-on-init="news.gridOnInit(grid)"
                        grid-options="news.gridOptions"
                        grid-url="'news/getNews'"
                        grid-inplace-url="'news/inplace'"
                        grid-extend-ctrl="news">
            <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="news.grid.gridOptions.TotalString">
            </ui-grid-custom-footer>
        </ui-grid-custom>
    </div>
</div>
