.head-b {
    border-bottom: 1px solid #24528c;
}

.bottom-tr-r {
    color: #fff;
    background: #24528c;
}

.bottom-tr-l {
    color: #fff;
    background: #24528c;
}

.cover-content {
    background-size: cover;
    background: #4173ad;
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(top, #4173ad 0%, #24528c 100%);
    background: linear-gradient(to bottom, #4173ad 0%, #24528c 100%);
}

.cover-top {
    -ms-box-shadow: #24528c 5px 5px 0 0;
    box-shadow: #24528c 5px 5px 0 0;
}

.cover-middle-left, .cover-middle-right {
    -ms-box-shadow: #24528c 10px 10px 0 0;
    box-shadow: #24528c 10px 10px 0 0;
}

.cover-bottom {
    color: #fff;
}
