.head-b {
    border-bottom: 1px solid #838384;
}

.bottom-tr-r {
    color: #fff;
    background: #838384;
}

.bottom-tr-l {
    color: #fff;
    background: #838384;
}

.cover-content {
    background-size: cover;
    background: #dbdbda;
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(top, #dbdbda 0%, #838384 100%);
    background: linear-gradient(to bottom, #dbdbda 0%, #838384 100%);
}

.cover-top {
    -ms-box-shadow: #838384 5px 5px 0 0;
    box-shadow: #838384 5px 5px 0 0;
}

.cover-middle-left, .cover-middle-right {
    -ms-box-shadow: #838384 10px 10px 0 0;
    box-shadow: #838384 10px 10px 0 0;
}

.cover-bottom {
    color: #fff;
}
