.lp-buyForm-compact {

    .lp-form-default {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lp-form-block-field {
        padding: 10px;
    }

    .lp-slide-header {
        padding-top: 36px;
    }
}
