@model System.Collections.Generic.List<AdvantShop.Module.SimaLand.ViewModel.LabelViewModel>

<div id="simalandLabels" style="display:none">
    @foreach (var tag in Model)
    {
        <div class="products-view-label">
            <a href="/search?q=@tag.Tag.Name" style="color: white"><span class="products-view-label-inner products-view-label-discount" style="background:@tag.Color">@tag.Tag.Name</span></a>
        </div>
    }
    
</div>
