@model AdvantShop.Module.SimaLand.ViewModel.LabelViewModel

<div class="products-view-label">
    <a href="/search?q=@Model.Tag.Name" style="color: white"><span class="products-view-label-inner products-view-label-discount" style="background:@Model.Color">@Model.Tag.Name</span></a>
</div>
