<section id="tabbed" class="bg-dark tabbed-info">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 wow bounceInDown animated text-center" data-wow-delay="0.5s" style="-webkit-animation: bounceInDown 0.5s;">
				<!--<h5>WHAT CAN I DO WITH APPER?</h5>-->
				<h2 class="hr-after f-white">
					<strong>Виды бонусов в компании <span class="f-green">GREENWAY</span></strong>
				</h2>
				<div class="divide30"></div>
			</div>

			<div class="col-sm-12 wow bounceIn animated" data-wow-delay="1s" style="visibility: visible; -webkit-animation: bounceIn 1s;">
				<ul class="nav nav-pills nav-justified" role="tablist" id="learnTabs">
					<li class="active">
						<a href="#tab-1" role="tab" data-toggle="tab">Бонус за покупки</a>
					</li>
					<li class="">
						<a href="#tab-2" role="tab" data-toggle="tab">Бонус наставника</a>
					</li>
					<li class="">
						<a href="#tab-3" role="tab" data-toggle="tab">Групповой бонус</a>
					</li>
					<li class="">
						<a href="#tab-4" role="tab" data-toggle="tab">Лидерский бонус</a>
					</li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content wow bounceInUp animated" data-wow-delay="1s" style="visibility: visible; -webkit-animation: bounceInUp 1s;">
					<div class="tab-pane active" id="tab-1">
						<div class="col-sm-7">
							<h5>Поощрение для потребителей и продавцов</h5>
							<p>
								Кешбэк для партнеров с личным объемом покупок, превышающим 50 ед. за период, составляет
								<span class="f-green">40%</span> от объема продаж.
							</p>
							<p>
								Дополнительное поощрение для партнеров, делающих личные объемы покупок более
								<span class="f-green">100</span> ед. Зачисляется на <span class="f-white">подарочный счет</span>
							</p>
							<ul>
								<li style="margin: 40px 0 10px 0"><p >Объем расчитывается в единицах. 1 ед. = 77 руб. </p></li>
								<li><p >Подарочный счет - это вознаграждение в виде продукции на Ваш выбор.</p></li>
							</ul>
						</div>
						<div class="col-sm-5">
							<ul>
								<li>
									<h6>Личный объем: <span class="f-green">100 - 199</span> ед. за период</h6>
									<p>
										на личный счет: <span class="f-green">700 - 2 086</span> руб. <br>
										на подарочный счет: <span class="f-green">385 - 766</span> руб.
									</p>
								</li>
								<li>
									<h6>Личный объем: <span class="f-green">200 - 499</span> ед. за период</h6>
									<p>
										на личный счет: <span class="f-green">2 100 - 6 280</span> руб. <br>
										на подарочный счет: <span class="f-green">1 540 - 3 842</span> руб.
									</p>
								</li>
								<li>
									<h6>Личный объем: <span class="f-green">500</span> ед. и более за период</h6>
									<p>
										на личный счет: <span class="f-green">6 300</span> руб. и более<br>
										на подарочный счет: <span class="f-green">7 700</span> руб. и более
									</p>
								</li>

							</ul>
						</div>
					</div>
					<div class="tab-pane" id="tab-2">
						<div class="col-sm-7">
							<h5>Начисляется с объемов всех партнеров первого поколения</h5>
							<p>
								Поощряет развитие и поддержание активной партнерской группы.
							</p>
						</div>
						<div class="col-sm-5">
							<ul>
								<li>
									<h6><span class="f-green">700 руб.</span> на личный счет</h6>
									<p>За каждого партнера в первой линии, если его объем покупок составил <span class="f-green">50 ед. и более</span></p>
								</li>
							</ul>
						</div>
					</div>
					<div class="tab-pane" id="tab-3">
						<div class="col-sm-7">
							<h5>Начисляется с личного объема и товарооборота личной группы</h5>
							<p>
								В личную группу входят все партнеры структуры кроме партнеров квалификации
								<span class="f-white">Лидер</span> или выше, а также их групп.<br>
								Квалификации зависят от лично-группового объема (ЛГО).
							</p>
							<ul>
								<li>
									<p ><span class="f-white">ЛГО</span> - сумма личного объема и объема личной группы.</p>
								</li>
							</ul>
						</div>
						<div class="col-sm-5">
							<ul>
								<li>
									<h6>Наставник 1 ступени - ЛГО <span class="f-green">750 ед.</span> </h6>
									<!--<p>на личный счет: <span class="f-white">6%</span> от общего оборота группы</p>-->
									<p>бонус: <span class="f-green">1 575 - 3 148</span> руб.</p>
								</li>
								<li>
									<h6>Наставник 2 ступени - ЛГО <span class="f-green">1500 ед.</span> </h6>
									<!--<p><span class="f-white">12%</span> от общего оборота группы</p>-->
									<p>бонус: <span class="f-green">3 150 - 10 496</span> руб.</p>
								</li>
								<li>
									<h6>Наставник 3 ступени - ЛГО <span class="f-green">2500 ед.</span> </h6>
									<!--<p><span class="f-white">18%</span> от общего оборота группы</p>-->
									<p>бонус: <span class="f-green">10 500 - 25 194</span> руб.</p>
								</li>
								<li>
									<h6>Лидер - ЛГО <span class="f-green">4000 ед.</span> </h6>
									<!--<p><span class="f-white">24%</span> от общего оборота группы</p>-->
									<p>бонус: <span class="f-green">33 600 и более</span> руб.</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="tab-pane" id="tab-4">
						<div class="col-sm-6">
							<h5>Начисляется партнерам <span class="f-green">Лидерской</span> квалификации</h5>
							<p>
								Начиная с квалификации <span class="f-white">Лидер 1</span> начисляется бонус в процентах от лично-групповых объемов партнеров
								в квалификации <span class="f-white">Лидер</span> и выше на глубину до девяти поколений, в зависимости от квалификации.
							</p>
							<ul>
								<li>
									<p ><span class="f-white">ЛГО</span> - сумма личного объема и объема личной группы.</p>
								</li>
							</ul>
						</div>
						<div class="col-sm-6">
							<ul>
								<li>
									<h6><span class="f-green">Лидер 1 ступени</span> (L1) - </h6>
									<p>
										партнер, у которого <span class="f-white">одна</span> Лидерская ветвь и его ЛГО составляет не менее
										<span class="f-green">2 000 ед.</span>. <br>
										Бонус: от <span class="f-green">11 200</span> руб.
									</p>
								</li>
								<li>
									<h6><span class="f-green">Лидер 2 ступени</span> (L2) - </h6>
									<p>
										партнер, у которого <span class="f-white">две</span> Лидерские ветви и его ЛГО составляет не менее
										<span class="f-green">1 500 ед.</span>. <br>
										Бонус: от <span class="f-green">22 400</span> руб.
									</p>
								</li>
								<li>
									<h6><span class="f-green">Лидер 3 ступени</span> (L3) - </h6>
									<p>
										партнер, у которого <span class="f-white">три</span> Лидерские ветви и его ЛГО составляет не менее
										<span class="f-green">1 000 ед.</span>. <br>
										Бонус: от <span class="f-green">33 600</span> руб.
									</p>
								</li>
								@*<li>
									<h6><span class="f-green">Мастер</span> (М) - </h6>
									<p>
										партнер, у которого <span class="f-white">четыре</span> Лидерские ветви и его ЛГО составляет не менее
										<span class="f-green">1 000 ед.</span>. <br>
										Бонус: от <span class="f-green">33 600</span> руб.
									</p>
								</li>*@
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-7">
				<ul>
					<li>
						<p ><span>Все бонусы суммируются.</span></p>
					</li>
					@*<li>
						<span>Подробный маркетинг-план Вы сможете получить, <a href="business#contact" class="">отправив заявку.</a></span>
					</li>*@
				</ul>
			</div>
		</div>
		<button ng-click="gotoAnchor('contact')" class="redbtn">Получить подробный бизнес-план</button>
	</div>
</section>