<section id="clients" class="pad-t-90">
	<div class="container">
		<div class="row">
			<div id="quote-carousel" class="owl-carousel owl-theme quote-theme" style="opacity: 0; display: block;">
				<div class="item">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2 text-center">
							<h1 class="hr-after">Отзывы о продукции <span class="f-green"><strong>GREENWAY</strong></span></h1>
							<div class="col-sm-12">
								<p class="lead">Салфетка Aquamagic ABSOLUTE для мытья посуды.</p>
							</div>
						</div>
					</div>
					<!-- /.row -->
					<div class="item-quote aligner">
						<div class="col-sm-5 aligner-item--bottom">
							<img src="/pictures/product/big/4826_big.jpg" alt="" class="img-responsive">
						</div>
						<div class="col-sm-7">
							<blockquote class="quote-text aligner-item">
								<p>
									Прошёл месяц эксплуатации мной салфетки для посуды. Впечатления...С лёгкостью, без нажима, оттирает "заваренные" места там, где раньше требовалась железная мочалка. Нет необходимости использовать соду, чтобы придать посуде чистоту и блеск. Хожу с салфеткой по друзьям... моем посуду ))))
									САЛФЕТКА И ВОДА!Товарный вид после месяца активного использования - приличный!
								</p>
							</blockquote>
							<p class="quote-author">
								<a href="#">
									<strong>Мищук Ольга</strong>
								</a>
							</p>
						</div>
					</div>
					<!-- /.item quote -->
				</div>
				<div class="item">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2 text-center">
							<h1 class="hr-after">Отзывы о продукции <span class="f-green"><strong>GREENWAY</strong></span></h1>
							<div class="col-sm-12">
								<p class="lead">Sharme Smile очищающий зубной порошок.</p>
							</div>
						</div>
					</div>
					<!-- /.row -->
					<div class="item-quote aligner">
						<div class="col-sm-5 aligner-item--bottom">
							<img src="/pictures/product/big/4708_big.jpg" alt="" class="img-responsive">
						</div>
						<div class="col-sm-7">
							<blockquote class="quote-text aligner-item">
								<p>Четыре дня пользуюсь минеральным зубным порошком. Такое приятное ощущение, шлифует уже с третьего раза понятно, это будет очень востребованный продукт. Да! Начала с очищающего. Очень нравится. Мелкие камушки отваливаются, запах очень хорошо убирает, ощущение чистоты длится весь день.</p>
							</blockquote>
							<p class="quote-author">
								<a href="#">
									<strong>Марина Шелковникова</strong>
								</a>
							</p>
						</div>
					</div>
					<!-- /.item quote -->
				</div>
				<!-- /.owl item -->
				<div class="item">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2 text-center">
							<h1 class="hr-after">Отзывы о компании <span class="f-green"><strong>GREENWAY</strong></span></h1>
							<div class="col-sm-12">
								<p class="lead">Лидеры о бизнесе в GREENWAY.</p>
							</div>
						</div>
					</div>
					<!-- /.row -->
					<div class="item-quote aligner">
						<div class="col-sm-5 aligner-item--bottom">
							<img src="userfiles/moskvina-305.jpg" alt="" class="img-responsive">
						</div>
						<div class="col-sm-7">
							<blockquote class="quote-text aligner-item">
								<p>Наш бизнес — это женский бизнес для умных мужиков.</p>
							</blockquote>
							<p class="quote-author">
								<a href="#">
									<strong>Москвина Елена</strong>
								</a>
							</p>
						</div>
					</div>
					<!-- /.item quote -->
				</div>
				<!-- /.owl item -->
				<div class="item">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2 text-center">
							<h1 class="hr-after">Отзывы о продукции <span class="f-green"><strong>GREENWAY</strong></span></h1>
							<div class="col-sm-12">
								<p class="lead">Так работает авто-полотенце!</p>
							</div>
						</div>
					</div>
					<!-- /.row -->
					<div class="item-quote aligner">
						<div class="col-sm-5 aligner-item--bottom">
							<img src="/pictures/product/big/4578_big.jpg" alt="" class="img-responsive">
						</div>
						<div class="col-sm-7">
							<blockquote class="quote-text aligner-item">
								<p>
									Натерла машину автополотенцем. Один раз намочила в самом начале и все. Нет разводов, все чисто, если чуток потереть гладкой стороной то отходит слой цемента. Машина находится рядом с цементным заводом и вся покрыта им тонким слоем. Завтра будем оттирать слой цемента. Если обычной тряпкой по засохшей грязи машина царапается. Муж боится больше всего этого. А тут, красота, ничего не царапает!
									Руки при этом остались чистые.
								</p>
							</blockquote>
							<p class="quote-author">
								<a href="#">
									<strong>Васильева Ирина</strong>
								</a>
							</p>
						</div>
					</div>
					<!-- /.item quote -->
				</div>
				<!-- /.owl item -->
				<div class="item">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2 text-center">
							<h1 class="hr-after">Отзывы о продукции <span class="f-green"><strong>GREENWAY</strong></span></h1>
							<div class="col-sm-12">
								<p class="lead">Салфетка универсальная Aquamagic UJUT.</p>
							</div>
						</div>
					</div>
					<!-- /.row -->
					<div class="item-quote aligner">
						<div class="col-sm-5 aligner-item--bottom">
							<img src="/pictures/product/big/4820_big.jpg" alt="" class="img-responsive">
						</div>
						<div class="col-sm-7">
							<blockquote class="quote-text aligner-item">
								<p>
									Сегодня приобрела универсальную салфетку. Это нечто! Без усилий, без моющих средств, просто протёрла стекло на двери в кухню и черные шкафы кухни. И вуа-ля! Чистота! Это волшебно!. Даже не могу поверить, что так просто.. Теперь думаю о швабре...
								</p>
							</blockquote>
							<p class="quote-author">
								<a href="#">
									<strong>Кадильникова Лилия</strong>
								</a>
							</p>
						</div>
					</div>
					<!-- /.item quote -->
				</div>
				<div class="item">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2 text-center">
							<h1 class="hr-after">Отзывы о продукции <span class="f-green"><strong>GREENWAY</strong></span></h1>
							<div class="col-sm-12">
								<p class="lead">Варежка Aquamagic TWIST.</p>
							</div>
						</div>
					</div>
					<!-- /.row -->
					<div class="item-quote aligner">
						<div class="col-sm-5 aligner-item--bottom">
							<img src="/pictures/product/big/4842_big.jpg" alt="" class="img-responsive">
						</div>
						<div class="col-sm-7">
							<blockquote class="quote-text aligner-item">
								<p>
									Подлокотники дивана из материи пылились и тряпкой пыль не стряхнёшь. Приходилось пылесосить. Варежкой Твист вся пыль удалилась за секунды. Очень удобная форма самой варежки.
								</p>
							</blockquote>
							<p class="quote-author">
								<a href="#">
									<strong>Кравец Наталья</strong>
								</a>
							</p>
						</div>
					</div>
					<!-- /.item quote -->
				</div>
			</div>
			<!-- /.quote carousel -->
		</div>
	</div>
</section>