<section id="features-list" class="space bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-10">
				<h1 class="hr-after f-white">
					@*<strong>Преимущества бизнеса с компанией <span class="f-green">GREENWAY</span></strong>*@
					<strong>Правда о бизнесе с <span class="f-green">GREENWAY</span></strong>
				</h1>
			</div>
		</div>
		<div class="divide50"></div>
		<div class="row features">
			<div class="col-sm-4 icon-item">
				<i class="glyphicon glyphicon-leaf"></i>
				<div class="item-content">
					<h3 class="f-white">Уникальный <br>нанопродукт</h3>
					@*<h3 class="f-white">«Вирусная» <br>продукция</h3>
		<p>Информация о продукции GREENWAY не требует агрессивной рекламы и распространяется пользователями продукции естественно, подтверждая уникальность.</p>*@
					<p>Эко-направление - одно из самых востребованных в 2019 году!</p>
				</div>
				<!--/.icon item content -->
			</div>
			<div class="col-sm-4 icon-item">
				<i class="glyphicon glyphicon-usd"></i>
				<div class="item-content">
					<h3 class="f-white">Минимальные <br>вложения</h3>
					@*<p>Для подтверждения регистрации достаточно купить (а лучше продать) товаров на сумму 4000 руб.</p>*@
					<p>Бесплатная регистрация. Возможность совмещать основную работу и Ваш бизнес.</p>
				</div>
				<!--/.icon item content -->
			</div>
			@*<div class="col-sm-4 icon-item">
					<i class="glyphicon glyphicon-signal"></i>
					<div class="item-content">
						<h3 class="f-white">Рост <br>дохода</h3>
						<p>Нет ограничения для роста дохода партнера.</p>
					</div>
				</div>*@
			<div class="col-sm-4 icon-item">
				<i class="glyphicon glyphicon-signal"></i>
				<div class="item-content">
					<h3 class="f-white">Развитие <br>Вашего бизнеса</h3>
					<p>Личный консультант бесплатно поможет Вам на всех этапах развития Вашего бизнеса. </p>
				</div>
				<!--/.icon item content -->
			</div>
		</div>
		<!-- .row -->
		<div class="divide30"></div>
		<div class="row features">
			<div class="col-sm-4 icon-item">
				<i class="glyphicon glyphicon-grain"></i>
				<div class="item-content">
					<h3 class="f-white">Маркетинг <br>нового поколения</h3>
					@*<p>Подключения на поздних этапах развития сети так же выгодно, и позволяет добиваться лучших результатов.</p>*@
					<p>Компания GREENWAY ломает все стереотипы о сетевом маркетинге. Подобных предложений на рынке просто нет!</p>
				</div>
				<!--/.icon item content -->
			</div>
			<div class="col-sm-4 icon-item">
				<i class="glyphicon glyphicon-gift"></i>
				<div class="item-content">
					<h3 class="f-white">Стабильный <br>доход</h3>
					@*<p>Маркетинг-план выстроен таким образом, чтобы на каждом этапе роста сети, партнер получал значимый доход.</p>*@
					<p>Вы получаете готовую бизнес-модель, которая гарантированно позволит Вам выйти на стабильный доход.</p>
				</div>
				<!--/.icon item content -->
			</div>
			<div class="col-sm-4 icon-item">
				<i class="glyphicon glyphicon-send" aria-hidden="true"></i>
				<div class="item-content">
					<h3 class="f-white">Быстрый <br>старт</h3>
					@*<p>Опция «Быстрый старт» позволяет в течении короткого времени получить достойный доход и заложить основу успешного бизнеса.</p>*@
					<p>Еженедельные выплаты!<br>Бонус за «Быстрый старт» - 7000 руб. ежемесячно, в течении 5 месяцев.</p>
				</div>
				<!--/.icon item content -->
			</div>
		</div>
		<!-- .row -->
		<div class="divide30"></div>
		<div class="row">
			<div class="col-sm-12">
				<p>
					@*<strong>Преимущества бизнеса с компанией <span class="f-green">GREENWAY</span></strong>*@
					Открытие компании <span class="f-green">GREENWAY</span> состоялось в <span class="f-white">феврале 2017 года</span>.<br>
				</p>
				<p>
					В ближайшие 2-3 года будет происходить <span class="f-white">активный рост</span> сети эко-маркетов
					<span class="f-green">GREENWAY</span> в России и странах ближнего зарубежья.
				</p>
				<p>
					Потому именно <span class="f-white">Вы</span> можете стать <span class="f-white">лидером</span> на рынке эко-продукции
					в Вашем регионе.
					@*- самого востребованного направления <span class="f-white">бизнеса</span>.*@
				</p>
				@*<p>Компания <span class="f-green">GREENWAY</span> ломает все стереотипы о сетевом маркетинге. Подобных предложений на рынке просто нет!</p>*@
				<p>Успей стать членом успешной команды! </p>
				<button ng-click="gotoAnchor('contact')" class="redbtn">Отправь заявку на регистрацию!</button>
				@*<a href="business#contact" target="_self" class="btn redbtn">Отправь заявку на регистрацию!</a>*@
			</div>
		</div>
	</div>
</section>