@model AdvantShop.ViewModel.Feedback.FeedbackViewModel
<footer id="footer" class="bg-dark">
	<section class="pad-t-50 pad-b-100 bg-dark space" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<h3 class="small-heading-i">Остались вопросы?<br>Задайте их в форме ниже или</h3>
					<h2 class="big-heading">Отправьте запрос на сотрудничество</h2>
					<!--<h2 class="big-heading">Отправmте заявку на регистрацию</h2>-->
				</div>
			</div>
			<div id="message"></div>
			<div class="divide30"></div>
			<div class="row">
				@using (Html.BeginForm("Index", "Business", FormMethod.Post, new { name = "contactform", id = "contactform", novalidate = "novalidate" }))
				{
					<input type="hidden" id="IsLanding" name="IsLanding" value="true">
					<input type="hidden" id="MessageType" name="MessageType" value="Offer">
					<div class="col-sm-6">
						<fieldset>
							@Html.TextBoxFor(m => m.Name, new { required = "true", data_ng_model = "feedback.name", placeholder = "Имя" })
							<br>
							@Html.TextBoxFor(m => m.Email, new { required = "true", data_ng_model = "feedback.email", placeholder = "Email",
							pattern = "^([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+)$", type = "email"})
							<br>
							@Html.TextBoxFor(m => m.Phone, new { required = "true", data_ng_model = "feedback.phone", placeholder = "Телефон", type = "tel" })
							<br>
						</fieldset>
					</div>
					<div class="col-sm-6">
						<fieldset>
							@Html.TextAreaFor(m => m.Message, new { data_ng_model = "feedback.message", cols = "40", rows = "8", placeholder = "Сообщение" })
							<button type="submit" data-button-validation class="btn btnGreen" id="submit" value="Submit">Отправить</button>
						</fieldset>
					</div>
				}
			</div>
		</div>
	</section>
</footer>