@model AdvantShop.ViewModel.Feedback.FeedbackViewModel
<section id="go-home" class="space">
	<div class="container">
		<div class="row">
			<div class="introducing text-center col-sm-12">
				<h1>Начать свой бизнес</h1>
				<h3>Успей стать партнером <span class="f-green"><strong>GREENWAY</strong></span></h3>
				@*<h3>компании </h3>*@
				<h2>и зарабатывай от 30.000 рублей уже в первый месяц!</h2>
			</div>
			<div class="col-md-12 fadeInUp featured-img featured-inner" data-wow-delay="0.4s">
				<div class="row">
					@*<div class="col-sm-offset-1 col-sm-8">
						<div class="video-container">
							<iframe data-loader="youtube" data-src="sjZCUGx-cwI" style="display: none;" frameborder="0"></iframe>
						</div>
					</div>*@
					<div class="col-sm-offset-3 col-sm-6">
						<div class="row">
							@using (Html.BeginForm("Index", "Business", FormMethod.Post, new { name = "firstcontactform", novalidate = "novalidate" }))
							{
								@Html.AntiForgeryToken()
								<input type="hidden" id="firstMessageType" name="MessageType" value="Offer">
								<input type="hidden" id="firstIsLanding" name="IsLanding" value="true">
								<div class="col-sm-12">
									<div class="gold shadow3d">
										<h3>Заявка на сотрудничество</h3>
										<fieldset>
											@Html.TextBoxFor(m => m.Name, new { required = "true", data_ng_model = "feedback.name", placeholder = "Имя" })
											@*<input name="Name" type="text" required="required" id="firstname" size="30" value="" placeholder="Имя">*@
											<br>
											@Html.TextBoxFor(m => m.Email, new { required = "true", data_ng_model = "feedback.email",
										   placeholder = "Email", type="email",
										   pattern = "^([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+)$"})
											@*<input name="Email" type="text" required="required" id="firstemail" size="30" value="" placeholder="Email">*@
											<br>
											@Html.TextBoxFor(m => m.Phone, new { required = "true", data_ng_model = "feedback.phone", type = "tel", placeholder = "Телефон" })
											@*<input name="Phone" type="text" required="required" id="firstphone" size="30" value="" placeholder="Телефон">*@
											<br>
										</fieldset>
									</div>
									<button type="submit" class="redbtn shadow3d" data-button-validation value="Submit">Стать официальным партнером</button>
								</div>
							}
						</div>
					</div>
				</div>
				<!-- /.inner row -->
			</div>
			<!-- /.row -->
		</div>
	</div>
	<!-- /.container -->
</section>