<section id="screenshots" class="space bg-dark pattern01">
	<div class="container">
		<div class="title-section text-center">
			<h1 class="hr-after f-white">Продукция компании <span class="f-green"><strong>GREENWAY</strong></span></h1>
			<p class="lead">
				Мы производим товары для тех, <br>кто выбрал осознанный
				экологический подход к своей жизни
			</p>
		</div>
		<!-- .title-section -->
		<div id="shoots" class="owl-carousel owl-theme pad-b-50" style="opacity: 0; display: block;">
			<div class="item">
				<a href="/manufacturers/igen" target="_blank">
					<img class="img-responsive lazy" data-src="userfiles/image/br_igen.png" />
					<h4><span>Генетические тесты для домашнего использования</span></h4>
					<img class="img-responsive lazy" data-src="userfiles/image/pr_igen.jpg" />
				</a>
			</div>
			<div class="item">
				<a href="/manufacturers/healthberry" target="_blank">
					<img class="img-responsive lazy" data-src="userfiles/image/br_healthberry.png" />
					<h4><span>Палитра растворимых ягодных напитков</span></h4>
					<img class="img-responsive lazy" data-src="userfiles/image/pr_healthberry.jpg" />
				</a>
			</div>
			<div class="item">
				<a href="/manufacturers/avitall" target="_blank">
					<img class="img-responsive lazy" data-src="userfiles/image/br_avitall.png" />
					<h4><span>Коктейли для коррекции привычек питания</span></h4>
					<img class="img-responsive lazy" data-src="userfiles/image/pr_avitall.jpg" />
				</a>
			</div>
			<div class="item">
				<a href="/manufacturers/baofiber" target="_blank">
					<img class="img-responsive lazy" data-src="userfiles/image/br_baofiber.png" />
					<h4><span>Растворимые напитки для красоты и здоровья</span></h4>
					<img class="img-responsive lazy" data-src="userfiles/image/pr_baofiber.jpg" />
				</a>
			</div>
			<div class="item">
				<a href="/manufacturers/aquamagic" target="_blank">
					<img class="img-responsive lazy" data-src="userfiles/image/br_aqua-magic.png" />
					<h4><span>Новая технология чистоты без химии</span></h4>
					<img class="img-responsive lazy" data-src="userfiles/image/pr_aqua-magic.jpg" />
				</a>
			</div>
			<div class="item">
				<a href="/manufacturers/teavitall" target="_blank">
					<img class="img-responsive lazy" data-src="userfiles/image/br_tea-vitall.png" />
					<h4><span>Изысканная коллекция чайных напитков</span></h4>
					<img class="img-responsive lazy" data-src="userfiles/image/pr_tea-vitall.jpg" />
				</a>
			</div>
			<div class="item">
				<a href="/manufacturers/sharme" target="_blank">
					<img class="img-responsive lazy" data-src="userfiles/image/br_sharme-ph.png" />
					<h4><span>Линия сухой косметики и питательных кремов</span></h4>
					<img class="img-responsive lazy" data-src="userfiles/image/pr_sharme-ph.jpg" />
				</a>
			</div>
			<div class="item">
				<a href="/manufacturers/sharme-essential" target="_blank">
					<img class="img-responsive lazy" data-src="userfiles/image/br_sharme-es.png" />
					<h4><span>Натуральные аромамасла для широкого применения</span></h4>
					<img class="img-responsive lazy" data-src="userfiles/image/pr_sharme-es.jpg" />
				</a>
			</div>
			<div class="item">
				<a href="/manufacturers/ecopam" target="_blank">
					<img class="img-responsive lazy" data-src="userfiles/image/br_ecopam.png" />
					<h4><span>Активный источник жизненной энергии</span></h4>
					<img class="img-responsive lazy" data-src="userfiles/image/pr_ecopam.jpg" />
				</a>
			</div>
			<div class="item">
				<a href="/manufacturers/aquamatic" target="_blank">
					<img class="img-responsive lazy" data-data-src="userfiles/image/br_aqua-matic.png" />
					<h4><span>Инновационные системы для уборки</span></h4>
					<img class="img-responsive lazy" data-data-src="userfiles/image/pr_aqua-matic.jpg" />
				</a>
			</div>
			<div class="item">
				<a href="/manufacturers/revitall" target="_blank">
					<img class="img-responsive lazy" data-data-src="userfiles/image/br_revital.png" />
					<h4><span>Оздоровительные программы для всего организма</span></h4>
					<img class="img-responsive lazy" data-data-src="userfiles/image/pr_revital.jpg" />
				</a>
			</div>
		</div>

		<div class="title-section">
			<p class="">
				Вся продукция компании <span class="f-green">GREENWAY</span> сертифицирована и имеет соответствующие свидетельства
				<span class="f-white">Таможенного союза</span> Республики Беларусь, Республики Казахстан и Российской Федерации.
			</p>
		</div>
	</div>
</section>