<section id="screenshots" class="hero">
	<div class="container">
		<div class="title-section text-center">
			<h1 class="hr-after f-white">Коротко о продуктовой линейке GREENWAY<span class="f-green"></span></h1>
		</div>
		<div class="col-md-10 col-md-offset-1">
			<div class="video-container">
				@*<iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/rFAyO6qGw8E"></iframe>*@
				<iframe data-loader="youtube" data-src="29KVUNvv5iQ" style="display: none;" frameborder="0"></iframe>
			</div>
		</div>
	</div>
</section>