
<h3 class="m-b">Настройки</h3>

<form role="form" name="bmSettingsForm" novalidate class="form-inline">
    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            <b>Баннер в шапке</b>
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            Ширина изображения (px)
        </div>
        <div class="col-xs-6">
            <input type="number" class="form-control" min="1" ng-model="$ctrl.BannerInTopWidth" style="width: 300px; height: 34px;" required />
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            Высота изображения (px)
        </div>
        <div class="col-xs-6">
            <input type="number" class="form-control" min="1" ng-model="$ctrl.BannerInTopHeight" style="width: 300px; height: 34px;" required />
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            <b>Баннеры под блоком доставки в товарах</b>
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            Ширина изображения (px)
        </div>
        <div class="col-xs-6">
            <input type="number" class="form-control" min="1" ng-model="$ctrl.UnderDeliveryInfoWidth" style="width: 300px; height: 34px;" required />
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            Высота изображения (px)
        </div>
        <div class="col-xs-6">
            <input type="number" class="form-control" min="1" ng-model="$ctrl.UnderDeliveryInfoHeight" style="width: 300px; height: 34px;" required />
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            <b>Баннеры над блоком доставки в товарах</b>
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            Ширина изображения (px)
        </div>
        <div class="col-xs-6">
            <input type="number" class="form-control" min="1" ng-model="$ctrl.AboveDeliveryInfoWidth" style="width: 300px; height: 34px;" required />
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            Высота изображения (px)
        </div>
        <div class="col-xs-6">
            <input type="number" class="form-control" min="1" ng-model="$ctrl.AboveDeliveryInfoHeight" style="width: 300px; height: 34px;" required />
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            <b>Баннеры под фильтром в категориях</b>
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            Ширина изображения (px)
        </div>
        <div class="col-xs-6">
            <input type="number" class="form-control" min="1" ng-model="$ctrl.UnderFilterWidth" style="width: 300px; height: 34px;" required />
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            Высота изображения (px)
        </div>
        <div class="col-xs-6">
            <input type="number" class="form-control" min="1" ng-model="$ctrl.UnderFilterHeight" style="width: 300px; height: 34px;" required />
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            <b>Баннеры над фильтром в категориях</b>
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            Ширина изображения (px)
        </div>
        <div class="col-xs-6">
            <input type="number" class="form-control" min="1" ng-model="$ctrl.AboveFilterWidth" style="width: 300px; height: 34px;" required />
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            Высота изображения (px)
        </div>
        <div class="col-xs-6">
            <input type="number" class="form-control" min="1" ng-model="$ctrl.AboveFilterHeight" style="width: 300px; height: 34px;" required />
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            <b>Баннеры под меню в товарах и категориях</b>
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            Ширина изображения (px)
        </div>
        <div class="col-xs-6">
            <input type="number" class="form-control" min="1" ng-model="$ctrl.UnderMenuWidth" style="width: 300px; height: 34px;" required />
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            Высота изображения (px)
        </div>
        <div class="col-xs-6">
            <input type="number" class="form-control" min="1" ng-model="$ctrl.UnderMenuHeight" style="width: 300px; height: 34px;" required />
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            <b>Баннеры над подвалом в товарах и категориях</b>
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            Ширина изображения (px)
        </div>
        <div class="col-xs-6">
            <input type="number" class="form-control" min="1" ng-model="$ctrl.AboveFooterWidth" style="width: 300px; height: 34px;" required />
        </div>
    </div>

    <div class="row m-b-md" style="vertical-align: middle; line-height: 34px;">
        <div class="col-xs-6">
            Высота изображения (px)
        </div>
        <div class="col-xs-6">
            <input type="number" class="form-control" min="1" ng-model="$ctrl.AboveFooterHeight" style="width: 300px; height: 34px;" required />
        </div>
    </div>

    <div class="m-b-md">
        <input type="button" ng-click="$ctrl.saveChanges(bmSettingsForm)" class="btn btn-sm btn-success" value="Сохранить" />
        &nbsp;
        <input type="button" ng-click="$ctrl.resizeImages(bmSettingsForm)" class="btn btn-sm btn-success" value="Пережать изображения" ng-disabled="!$ctrl.buttonResizeImagesEnabled" />
    </div>
</form>