<div class="form-horizontal container-fluid">
    <div class="form-group">
        <div class="row">
            <label class="control-label col-xs-1 ui-grid-filter-text" for="gridFilterDateFrom">
                От
            </label>
            <div class="dropdown col-xs-11">
                <div class="dropdown-toggle" id="gridFilterDateFrom" role="button" data-toggle="dropdown">
                    <div class="input-group">
                        <input type="text" class="form-control" data-e2e="datetimeFilterFrom" ng-model="$ctrl.item.filter.term.from" date-time-input="DD.MM.YYYY HH:mm" ng-change="$ctrl.apply([{ name: $ctrl.item.filter.datetimeOptions.from.name, value: $ctrl.item.filter.term.from }, { name: $ctrl.item.filter.datetimeOptions.to.name, value: $ctrl.item.filter.term.to }], $ctrl.item, true)"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="$ctrl.item.filter.term.from" data-datetimepicker-config="{ dropdownSelector: '#gridFilterDateFrom' }"  on-set-time="$ctrl.apply([{ name: $ctrl.item.filter.datetimeOptions.from.name, value: $ctrl.item.filter.term.from }, { name: $ctrl.item.filter.datetimeOptions.to.name, value: $ctrl.item.filter.term.to }], $ctrl.item)"/>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="control-label col-xs-1 ui-grid-filter-text" for="gridFilterDateTo">
                До
            </label>
            <div class="dropdown col-xs-11">
                <div class="dropdown-toggle" id="gridFilterDateTo" role="button" data-toggle="dropdown">
                    <div class="input-group">
                        <input type="text" class="form-control" data-e2e="datetimeFilterTo" ng-model="$ctrl.item.filter.term.to" date-time-input="DD.MM.YYYY HH:mm" ng-change="$ctrl.apply([{ name: $ctrl.item.filter.datetimeOptions.from.name, value: $ctrl.item.filter.term.from }, { name: $ctrl.item.filter.datetimeOptions.to.name, value: $ctrl.item.filter.term.to }], $ctrl.item, true)"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="$ctrl.item.filter.term.to" data-datetimepicker-config="{ dropdownSelector: '#gridFilterDateTo' }" on-set-time="$ctrl.apply([{ name: $ctrl.item.filter.datetimeOptions.from.name, value: $ctrl.item.filter.term.from }, { name: $ctrl.item.filter.datetimeOptions.to.name, value: $ctrl.item.filter.term.to }], $ctrl.item)" />
                </ul>
            </div>
        </div>
    </div>
</div>

