@using AdvantShop.Core.UrlRewriter
@{
    var url = UrlService.GetUrl();
    var scripts = new List<string>()
    {
        url + "modules/returnCustomer/content/Scripts/returnCustomer/returnCustomerRecordsList.js"
    };
}

<div data-oc-lazy-load="[@(String.Join(", ", scripts.Select(x => "'" + x  + "'")))]">
    <return-customer-records-list></return-customer-records-list>
</div>