.site-footer-top-level-wrap {
  position: relative;
  z-index: 10; }

.site-footer-top-level-inner {
  padding-top: 3.125rem;
  padding-bottom: 1.875rem; }

.footer-bottom-level-inner {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.footer-gifts-item {
  margin-top: 1.875rem; }
  .footer-gifts-item:first-child {
    margin-top: 3.3125rem; }
