.menu-header {
  padding: 0;
  margin: 0 -0.4375rem 0.9375rem;
  top: 0.4375rem;
  position: relative;
  z-index: 1; }

.menu-header-item {
  margin: 0 0.4375rem;
  display: inline-block;
  vertical-align: middle; }

.menu-header-link, .menu-header-link:hover {
  text-decoration: none; }

.menu-header-tile-submenu {
  padding-top: 1.5625rem;
  min-width: 8.4375rem; }
