@font-face {
	font-family: 'Krabuler';
	src: url('RFKrabuler-Regular.woff2') format('woff2'), url('RFKrabuler-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}