@font-face {
	font-family: 'Fakedes Outline';
	src: url('FakedesOutline.woff2') format('woff2'), url('FakedesOutline.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}