@model SubBlockModel

<ul class="lp-menu-header">
    <li class="lp-menu-header__item">
        <a href="" class="lp-menu-header__link">О магазине</a>
    </li>
    <li class="lp-menu-header__item">
        <a href="" class="lp-menu-header__link">Каталог</a>
    </li>
    <li class="lp-menu-header__item">
        <a href="" class="lp-menu-header__link">Оплата</a>
    </li>
    <li class="lp-menu-header__item">
        <a href="" class="lp-menu-header__link">Доставка</a>
    </li>
    <li class="lp-menu-header__item">
        <a href="" class="lp-menu-header__link">Контакты</a>
    </li>
</ul>