@model SubBlockModel

<div class="row lp-products-view">
    <div class="col-xs-4 lp-products-view-item-wrapper">
        <div class="lp-products-view-item">
            <figure class="lp-products-view-item-photo">
                <img src="frontend/images/product.jpg" alt="" />
            </figure>
            <div class="lp-products-view-item-link-wrap">
                <a href="" class="lp-products-view-item-link">
                    Фотоальбом Pioneer  "Romantic Flower", 10 магнитных листов, 29 см х 32 см
                </a>
            </div>
            <div class="lp-products-view-item-price-block">
                <span class="lp-products-view-item-price-text">Цена:</span>
                <span class="lp-products-view-item-price">1860 р.</span>
            </div>
            <div class="lp-products-view-item-buttons">
                <a href="" class="btn btn-action">Купить</a>
            </div>
        </div>
    </div>
</div>
