.products-view-tile {
  margin: 0;
  margin-top: 1px; }

.products-view-tile .products-view-block {
  padding: 0;
  border-color: transparent;
  border: 1px solid #e5e5e5;
  margin-right: -1px; }

.products-view-block:hover {
  box-shadow: inset 0px 0px 0px 1px #00a3cc;
  border: 1px solid #577c3b !important;
  box-sizing: border-box;
  z-index: 100; }

.products-view-tile .products-view-item,
.products-view-tile.products-view-item {
  border: 0; }

.products-view-tile .products-view-block:first-child {
  padding-left: 0.625rem; }

.products-view-tile .products-view-block:last-child {
  padding-right: 0.625rem; }

.products-view-item {
  border-radius: 0;
  border: 0; }

.products-view-item:hover {
  box-shadow: none; }

.products-view-label-recommend,
.products-view-label-sales,
.products-view-label-discount,
.products-view-label-best {
  border-radius: 20px;
  padding: 7px 20px;
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
  background: #0088b9;
  background: #00b6d7;
  background: linear-gradient(top bottom, #00b6d7 0%, #0088b9 100%);
  background: -webkit-linear-gradient(top, #00b6d7 0%, #0088b9 100%); }

.products-view-label-new {
  border-radius: 20px;
  padding: 7px 20px;
  font-size: 11px;
  color: #000;
  text-transform: uppercase;
  background: #ffc60a;
  background: linear-gradient(top bottom, #ffc60a 0%, #ff9d02 100%);
  background: -webkit-linear-gradient(top, #ffc60a 0%, #ff9d02 100%); }

.products-view-name {
  font-size: 13px;
  color: #232323; }

.products-view-tile .products-view-price,
.products-view-price .price {
  text-align: center; }

.products-view-tile .price-current {
  display: inline-block; }

.products-view .price-new,
.price-currency,
.price-number {
  font-size: 15px;
  color: #577c3b;
  font-weight: bold; }

.details-payment-block .products-view .price-new,
.details-payment-block .price-currency,
.details-payment-block .price-number {
  font-size: 35px; }

.details-payment-block .price-old .price-currency,
.details-payment-block .price-old .price-number {
  font-size: 25px; }

.products-view-name-link:hover {
  text-decoration: none; }

.product-view-photos-wrap .products-view-photos {
  border-radius: 0;
  box-sizing: border-box; }

.products-view-item.text-static.js-products-view-item {
  position: relative;
  height: 100%; }

.products-view-list .products-view-block {
  padding: 0;
  border: 1px solid #e2e3e4;
  position: relative; }

.products-view-list .products-view-item.text-static.js-products-view-item {
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box; }

.products-view-table .products-view-block,
.products-view-list .products-view-block,
.products-view-table .products-view-block:first-child,
.products-view-list .products-view-block:first-child {
  border-width: 1px; }

.product-view-photos-wrap .products-view-photos {
  box-shadow: none;
  margin-top: -1px;
  margin-bottom: -1px;
  border: 2px solid #577c3b !important;
  border-right: 0 !important;
  box-shadow: inset 0px 0px 0px 2px #00a3cc;
  border-color: transparent; }

.products-view-list .products-view-pictures {
  top: 0; }

.products-view.products-view-list .products-view-photos-count {
  bottom: 8px; }

.products-view-list .products-view-picture-link {
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box; }

.products-view-tile .products-view-block,
.products-view-table .products-view-block,
.products-view-list .products-view-block {
  margin-top: -1px; }

.carousel-inner .products-view-block {
  margin-top: 0; }
