@model  AdvantShop.Web.Admin.ViewModels.Carousel.CarouselViewModel


 <div ng-cloak>
    <div class="sticky-page-name" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner">
            <div class="page-name-block-item-main">
                <h1 class="page-name-block-text sticky-page-name-text">
                    @Html.Raw(Model.Header)
                </h1>
            </div>
            <div class="page-name-block-item-additional">
                <ui-modal-trigger data-controller="'ModalAddEditCarouselCtrl'" controller-as="ctrl"
                                  template-url="../areas/admin/content/src/carousel/modal/addEditCarousel/addEditCarousel.html"
                                  data-on-close="carousel.grid.fetchData()">
                    <button class="btn btn-sm btn-success btn--margin-left" data-e2e="btnAdd" type="button">
                        <span class="fa fa-plus"></span> @Model.ButtonTextAdd
                    </button>
                </ui-modal-trigger>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <ui-grid-custom grid-unique-id="grid"
                            grid-row-identificator="'CarouselId'"
                            grid-options="carousel.gridOptions"
                            grid-on-init="carousel.gridOnInit(grid)"
                            grid-url="'Carousel/GetCarousel'"
                            grid-inplace-url="'Carousel/InplaceCarousel'"
                            grid-extend-ctrl="carousel">
                <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="carousel.grid.gridOptions.TotalString">
                </ui-grid-custom-footer>
            </ui-grid-custom>
        </div>
    </div>
</div>