<div class="lp-container lp-blocks-constructor-buttons">
    <a href="" class="icon-plus link-decoration-none lp-blocks-constructor-linkico lp-blocks-constructor-add-block" title="Добавить новый блок" data-ng-click="$ctrl.addBlock()" ></a>
    <a href="" class="icon-plus link-decoration-none lp-blocks-constructor-add-element lp-blocks-constructor-button-hidden"  data-ng-if="$ctrl.isShowAddSubblock" data-ng-click="$ctrl.addElement()">Добавить элемент блока</a>
    <a href="" class="icon-cog link-decoration-none lp-blocks-constructor-linkico lp-blocks-constructor-linkico-alt lp-blocks-constructor-button-hidden" title="Настройки блока" data-ng-click="$ctrl.showOptionsBlock()"></a>
    <a href="" class="icon-up link-decoration-none lp-blocks-constructor-linkico lp-blocks-constructor-linkico-alt lp-blocks-constructor-linkico-up lp-blocks-constructor-button-hidden" title="Переместить блок вверх" data-ng-click="$ctrl.moveUpBlock()"></a>
    <a href="" class="icon-down link-decoration-none lp-blocks-constructor-linkico lp-blocks-constructor-linkico-alt lp-blocks-constructor-linkico-down lp-blocks-constructor-button-hidden" title="Переместить блок вниз" data-ng-click="$ctrl.moveDownBlock()"></a>
    <a href="" class="icon-trash-empty link-decoration-none lp-blocks-constructor-linkico lp-blocks-constructor-linkico-alt lp-blocks-constructor-button-hidden" title="Удалить блок" data-ng-click="$ctrl.removeBlock()"></a>
</div>
