@model AdvantShop.Module.ProductTabs.Models.AdminProductTabsModel

    <div class="product-setting">
        <div id="productTabs">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="inline product-setting-title content-header">
                            Дополнительные вкладки в карточке товара
                        </h2>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                @for(int i = 0; i < Model.Tabs.Count; i++)
                {
                    <div class="form-group row">
                        <div class="col-xs-2">
                            @Model.Tabs[i].Title
                            @if (!Model.Tabs[i].Active)
                            {
                                <div class="text-danger">(вкладка не активна)</div>
                            }
                        </div>
                        <div class="col-xs-10">
                            @Html.TextAreaFor(x => x.Tabs[i].Body, new { @class = "wysiwyg", ckeditor = "{height: 150}", ng_model = "tab.TabBody" + i })
                            @Html.HiddenFor(x => x.Tabs[i].TabTitleId)
                            @Html.HiddenFor(x => x.Tabs[i].ProductId)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>