.call-button {
    cursor: pointer;
    display: inline-block;
    margin-left: 3px;
    background: #c9de55;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de55), color-stop(4%,#bed44b), color-stop(8%,#badb32), color-stop(15%,#b4d53e), color-stop(88%,#9cc731), color-stop(92%,#9ecb28), color-stop(100%,#92c11d));
    background: -webkit-linear-gradient(top,  #c9de55 0%,#bed44b 4%,#badb32 8%,#b4d53e 15%,#9cc731 88%,#9ecb28 92%,#92c11d 100%);
    background: -webkit-linear-gradient(top, #c9de55 0%, #bed44b 4%, #badb32 8%, #b4d53e 15%, #9cc731 88%, #9ecb28 92%, #92c11d 100%);
    background: linear-gradient(to bottom,  #c9de55 0%,#bed44b 4%,#badb32 8%,#b4d53e 15%,#9cc731 88%,#9ecb28 92%,#92c11d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de55', endColorstr='#92c11d',GradientType=0 );
}
    .call-button:hover {
        background: #92c11d;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#92c11d), color-stop(8%,#9ecb28), color-stop(12%,#9cc731), color-stop(85%,#b4d53e), color-stop(92%,#badb32), color-stop(96%,#bed44b), color-stop(100%,#c9de55));
        background: -webkit-linear-gradient(top,  #92c11d 0%,#9ecb28 8%,#9cc731 12%,#b4d53e 85%,#badb32 92%,#bed44b 96%,#c9de55 100%);
        background: -webkit-linear-gradient(top, #92c11d 0%, #9ecb28 8%, #9cc731 12%, #b4d53e 85%, #badb32 92%, #bed44b 96%, #c9de55 100%);
        background: linear-gradient(to bottom,  #92c11d 0%,#9ecb28 8%,#9cc731 12%,#b4d53e 85%,#badb32 92%,#bed44b 96%,#c9de55 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92c11d', endColorstr='#c9de55',GradientType=0 );
    }
.call-button-small {
    width: 14px;
    height: 14px;
    vertical-align: bottom;
    border-radius: 3px;
    padding: 2px;
    font-size: 0;
}
    .call-button-small:hover {
    }
    .call-button-small:before {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 3px 1px 0;
        vertical-align: middle;
        background: url("../../images/telephony/call.png") no-repeat center center;
    }
.call-button-big {
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
}
    .call-button-big:before {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        /*margin: 0 3px 1px 0;*/
        vertical-align: middle;
        background: url("../../images/telephony/call.png") no-repeat center center;
    }
    .call-button-big:hover {
    }
    
