.lp-products-view-item-wrapper {
  padding: 2px; }

.lp-products-view-item {
  border: 2px solid #faf8f5;
  font-size: 18px;
  padding: 10px; }
  .lp-products-view-item:hover {
    border-color: #ffc88f;
    box-shadow: #ffc88f 0 0 4px; }

.lp-products-view-item-photo {
  text-align: center;
  padding: 0 20px; }

.lp-products-view-item-link-wrap {
  padding: 0 20px;
  text-align: center;
  height: 40px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px; }

.lp-products-view-item-link {
  color: #742915;
  text-decoration: none; }
  .lp-products-view-item-link:hover {
    color: #8a3119;
    text-decoration: underline; }

.lp-products-view-item-price-block {
  text-align: center;
  padding: 0 20px; }

.lp-products-view-item-price-text,
.lp-products-view-item-price {
  color: #f96c34; }

.lp-products-view-item-buttons {
  padding-top: 10px;
  text-align: center; }
