@model string
<div class="catalog-change-views">
    <a href="javascript:void(0);" title="Список" data-ng-click="catalogFilter.setView('list')" class="products-view-variants-item icon-menu-before products-view-variants-list@(Model == "list" ? " products-view-variants-selected" : "")"></a>
    <a href="javascript:void(0);" title="Плитка" data-ng-click="catalogFilter.setView('tile')" class="products-view-variants-item icon-th-large-before products-view-variants-tile@(Model == "tile" ? " products-view-variants-selected" : "")"></a>
</div>
