.footer-bottom-level,
.site-footer-top-level {
  background-color: #333333; }

.footer-bottom-level-inner .cs-t-3 img[title="advantshop.net"] {
  color: #999999; }

.footer-bottom-level-inner .cs-t-3 img[title="advantshop.net"]:hover {
  color: #fff; }
