#popupOnMainPage .modal-content {
  padding: 0; }

#popupOnMainPage .modal-content > div {
  border-radius: 0 0 4px 4px; }

#popupOnMainPage .modal-header {
  padding: 0;
  border-bottom: none;
  font-size: 1rem; }
